In [1]:
import pandas as pd

In [3]:
gtf = pd.read_csv("/oak/stanford/groups/horence/rob/readzs_fork/mouse_gene_name_ids.csv")
gtf

,gene_name,gene_id,chrom,source,start,stop,strand
0,4933401J01Rik,ENSMUSG00000102693.1,chr1,HAVANA,3073253,3074322,+
1,Gm26206,ENSMUSG00000064842.1,chr1,ENSEMBL,3102016,3102125,+
2,Xkr4,ENSMUSG00000051951.5,chr1,HAVANA,3205901,3671498,-
3,Gm18956,ENSMUSG00000102851.1,chr1,HAVANA,3252757,3253236,+
4,Gm37180,ENSMUSG00000103377.1,chr1,HAVANA,3365731,3368549,-
...,...,...,...,...,...,...,...
48435,mt-Nd6,ENSMUSG00000064368.1,chrM,ENSEMBL,13552,14070,-
48436,mt-Te,ENSMUSG00000064369.1,chrM,ENSEMBL,14071,14139,-
48437,mt-Cytb,ENSMUSG00000064370.1,chrM,ENSEMBL,14145,15288,+
48438,mt-Tt,ENSMUSG00000064371.1,chrM,ENSEMBL,15289,15355,+
48439,mt-Tp,ENSMUSG00000064372.1,chrM,ENSEMBL,15356,15422,-

In [15]:
gene = "Myl6"
gene_min = gtf[gtf["gene_name"] == gene]["start"].min()
gene_max = gtf[gtf["gene_name"] == gene]["stop"].max()
chrom = gtf[gtf["gene_name"] == gene]["chrom"].iloc[0]

In [18]:
ens[(ens[0] == chrom) & (((ens[1] > gene_min) & (ens[1] < gene_max)) | ((ens[2] > gene_min) & (ens[2] < gene_max))) ]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5]
Index: []

In [29]:
print(gene_min,gene_max)
ens[(ens[0] == chrom) & (ens[1] < gene_min) & (ens[2] > gene_max) ]

128490860 128493875

            0          1          2            3  4  5
304731  chr10  128490000  128495000  chr10_25699  .  +

In [13]:
ens = pd.read_csv("/oak/stanford/groups/horence/kaitlin/ref_files/windows_mouse_len_5k.bed",sep="\t",header=None)
ens

           0         1         2           3  4  5
0       chr1         0      5000      chr1_1  .  +
1       chr1      5000     10000      chr1_2  .  +
2       chr1     10000     15000      chr1_3  .  +
3       chr1     15000     20000      chr1_4  .  +
4       chr1     20000     25000      chr1_5  .  +
...      ...       ...       ...         ... .. ..
545109  chrY  91720000  91725000  chrY_18345  .  +
545110  chrY  91725000  91730000  chrY_18346  .  +
545111  chrY  91730000  91735000  chrY_18347  .  +
545112  chrY  91735000  91740000  chrY_18348  .  +
545113  chrY  91740000  91744698  chrY_18349  .  +

[545114 rows x 6 columns]

In [21]:
outpath = "/oak/stanford/groups/horence/JuliaO/visium_analysis/notebooks/output/mouse_kidney_data/"

In [2]:
df = pd.read_csv("/oak/stanford/groups/horence/Roozbeh/single_cell_project/utility_files/meta_data/Tabula_muris_senis/Tabula_muris_droplet_new.csv")

/home/groups/horence/applications/anaconda3/envs/jup_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.to_csv("/scratch/groups/horence/JuliaO/single_cell/spatial_kmers/notebooks/visium_meta/meta_10X_P1_1.tsv",sep="\t",index=False)

In [25]:
df = df[(df["tissue"] == "Kidney") & (df["mouse.id"] == "30-M-2")]
df["cell_id"] = df["cell"]
df = df[[x for x in df.columns if x != "cell"]]
df.to_csv("{}tabula_muris_kidney.tsv".format(outpath),sep="\t",index=False)

/home/users/jolivier/.local/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [26]:
df

,index,age,cell_ontology_class,cell_ontology_id,free_annotation,method,mouse.id,n_genes,sex,subtissue,tissue,n_counts,louvain,cluster_names,cell1,cell_id
9171,AAACCTGAGACTGGGT-1-1-1-0,30m,epithelial cell of proximal tubule,CL:0002306,Epcam proximal tube epithelial cell,droplet,30-M-2,2349,male,KIDNEY,Kidney,9945.0,6.0,6_epithelial cell of proximal tubule,10X_P1_1_S1_L00_AAACCTGAGACTGGGT,10X_P1_1_AAACCTGAGACTGGGT
9172,AAACCTGAGATGTAAC-1-1-1-0,30m,fibroblast,CL:0000057,Stroma fibroblast,droplet,30-M-2,1856,male,KIDNEY,Kidney,4779.0,22.0,22_fibroblast,10X_P1_1_S1_L00_AAACCTGAGATGTAAC,10X_P1_1_AAACCTGAGATGTAAC
9173,AAACCTGAGGCTAGAC-1-1-1-0,30m,fibroblast,CL:0000057,Stroma fibroblast,droplet,30-M-2,1497,male,KIDNEY,Kidney,4464.0,22.0,22_fibroblast,10X_P1_1_S1_L00_AAACCTGAGGCTAGAC,10X_P1_1_AAACCTGAGGCTAGAC
9174,AAACCTGGTAGAGCTG-1-1-1-0,30m,kidney distal convoluted tubule epithelial cell,CL:1000849,Epcam kidney distal convoluted tubule epit...,droplet,30-M-2,3055,male,KIDNEY,Kidney,9598.0,11.0,11_kidney distal convoluted tubule epithelial ...,10X_P1_1_S1_L00_AAACCTGGTAGAGCTG,10X_P1_1_AAACCTGGTAGAGCTG
9175,AAACCTGGTCATTAGC-1-1-1-0,30m,podocyte,CL:0000653,Epcam podocyte,droplet,30-M-2,1226,male,KIDNEY,Kidney,3191.0,13.0,13_podocyte,10X_P1_1_S1_L00_AAACCTGGTCATTAGC,10X_P1_1_AAACCTGGTCATTAGC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10900,TTTGTCATCACGCGGT-1-1-1-0,30m,epithelial cell of proximal tubule,CL:0002306,Epcam proximal tube epithelial cell,droplet,30-M-2,2363,male,KIDNEY,Kidney,5937.0,6.0,6_epithelial cell of proximal tubule,10X_P1_1_S1_L00_TTTGTCATCACGCGGT,10X_P1_1_TTTGTCATCACGCGGT
10901,TTTGTCATCAGGCCCA-1-1-1-0,30m,epithelial cell of proximal tubule,CL:0002306,Epcam proximal tube epithelial cell,droplet,30-M-2,2820,male,KIDNEY,Kidney,8609.0,6.0,6_epithelial cell of proximal tubule,10X_P1_1_S1_L00_TTTGTCATCAGGCCCA,10X_P1_1_TTTGTCATCAGGCCCA
10902,TTTGTCATCCCTCTTT-1-1-1-0,30m,macrophage,CL:0000235,CD45 macrophage,droplet,30-M-2,4526,male,KIDNEY,Kidney,26471.0,12.0,12_macrophage,10X_P1_1_S1_L00_TTTGTCATCCCTCTTT,10X_P1_1_TTTGTCATCCCTCTTT
10903,TTTGTCATCTGACCTC-1-1-1-0,30m,kidney collecting duct principal cell,CL:1001431,Epcam kidney collecting duct principal cell,droplet,30-M-2,1766,male,KIDNEY,Kidney,5010.0,9.0,9_kidney collecting duct principal cell,10X_P1_1_S1_L00_TTTGTCATCTGACCTC,10X_P1_1_TTTGTCATCTGACCTC
10904,TTTGTCATCTTAGCCC-1-1-1-0,30m,kidney distal convoluted tubule epithelial cell,CL:1000849,Epcam kidney distal convoluted tubule epit...,droplet,30-M-2,2667,male,KIDNEY,Kidney,6296.0,11.0,11_kidney distal convoluted tubule epithelial ...,10X_P1_1_S1_L00_TTTGTCATCTTAGCCC,10X_P1_1_TTTGTCATCTTAGCCC